# npm 套件目錄
tv_server_full/node_modules/

# 環境變數檔案
.env

#debug pyhton
tv_server_full/public/find_danger_list.py
tv_server_full/list.txt

# 影片、圖片
*.mp4
*.mov
*.png
*.jpg
tv_server_full/video/
pictures/

#壓縮檔案
*.zip
*.rar

# Google 服務帳戶金鑰檔案
google-credentials.json
credentials/
